@media (max-width: 677px) {
  
    .card, .chosen_card {
        width: 290px;
        clip-path: polygon(13.3% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    }
  }
  
@media (min-width: 678px) {

    .card, .chosen_card {
        width: 300px;
        clip-path: polygon(12.8% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    }
}

@media (min-width: 1090px) {

    .card, .chosen_card {
        width: 320px;
        clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    }
}

p {
    margin: 0;
    padding: 0;
}

.card {
    margin: 0 auto;
    position: relative;
    background: #fff;
    border: 4px solid #1698d9;
    height: 480px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px 0 0 50px;
    border-radius: 8px;
    z-index: 1;
    cursor: pointer;
}

.card:after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    position: absolute;
    top: 20px;
    left: -16px;
    background: #1698d9;
    transform: rotate(-45deg);
    z-index: 2;
}

.card_header {
    font-family: 'Trebuchet MS';
    font-size: 16px;
    color: #666666;
}

.card h2, .chosen_card h2 {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 42px;
    line-height: auto;
    margin: 0;
    padding-top: 15px;
}

.card h3 .chosen_card h3{
    font-family: 'Trebuchet MS';
    font-size: 24px;
    font-style: bold;
    margin: 0;
    padding: 5px 0 15px 0;
}

.card_description_portions {
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}

.card_description_portions span:first-child {
    font-weight: bold;
}

.card img, .chosen_card img {
    position: absolute;
    top: 235px;
    left: -30px;
}

.card_circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #1698d9;
    border-radius: 50%;
    color: #fff;
    bottom: 15px;
    right: 15px;
}

.card_circle_size {
    font-family: 'Trebuchet MS';
    font-size: 42px;
    line-height: 22px;
    text-align: center;
    padding: 20px 10px;
}

.card_circle_size span {
    font-family: 'Trebuchet MS';
    font-size: 21px;
    line-height: 22px;
    padding-top: 8px;
    display: block;
    text-align: center;
}

.card_footer {
    color: #fff;
}

.card_footer > p {
    font-family: 'Trebuchet MS';
    font-size: 13px;
    line-height: 16px;
    padding-top: 15px;
    text-align: center;
}

.card_footer_link {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #138ac6;
    color: #138ac6;
    margin-left: 5px;
    font-weight: bold;
}

.card_footer_dot {
    color: #107cb2;
}

.chosen_card {
    margin: 0 auto;
    position: relative;
    background: #fff;
    border: 4px solid #ff00b3;
    height: 480px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px 0 0 50px;
    border-radius: 8px;
    z-index: 1;
    cursor: pointer;
}

.chosen_card:after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    position: absolute;
    top: 20px;
    left: -16px;
    background: #ff00b3;
    transform: rotate(-45deg);
    z-index: 2;
}

.chosen_card_circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #ff00b3;
    border-radius: 50%;
    color: #fff;
    bottom: 15px;
    right: 15px;
}

.card_disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


