@media (max-width: 677px) {
    
    .cards_container {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding-bottom: 10px;
    }
}

@media (min-width: 678px) {

    .cards_container {
        row-gap: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }
}

@media (min-width: 1090px) {

    .cards_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 65px;
        column-gap: 80px;
    } 
}
