@media (max-width: 677px) {
  
  .container {
    height: 100%;
    padding-top: 5%;
  }
}

@media (min-width: 678px) {
  
  .container {
    height: 100%;
    padding-top: 5%;
  }
}

@media (min-width: 1090px) {

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
  }
}

@media (min-width: 1310px) {

  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
  }
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(./img/background.png) repeat;
}

.app_wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
